* {
  margin: 0; }

body {
  background-image: url("../assets/images/Logos/fondo6.jpg"); }
  body header nav {
    background: #3666a3;
    background: linear-gradient(351deg, #3666a3 49%, #35488a 64%); }
    body header nav .navbar-collapse {
      align-content: flex-end;
      flex-direction: column-reverse;
      flex-wrap: wrap; }
    body header nav .logoMenu1 {
      max-width: 8%; }
    body header nav div .navbar-nav .nav-item .nav-link {
      font-size: 20px; }
    body header nav div ul .dropdown-menu {
      background: #3666a3;
      background: linear-gradient(351deg, #3666a3 49%, #35488a 64%); }
      body header nav div ul .dropdown-menu a {
        color: white; }
    body header nav .breadcrumb {
      background-image: url("../assets/images/Logos/fondo6.jpg");
      font-size: 18px;
      padding-left: 1%; }
  body div .titulosIndex {
    font-family: "BioRhyme", serif;
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 39px; }
  body div .carousel .carousel-control-prev, body div .carousel .carousel-control-next {
    margin: 0;
    width: 8%; }
  body div .carousel-inner .carousel-item img {
    max-width: 60%;
    margin: auto;
    object-fit: contain; }
  body div .carousel-control-prev {
    width: 44%; }
  body div .carousel-control-next {
    width: 44%; }
  body div div a .btn-primary {
    font-size: 18px;
    border: 2px solid #14e871;
    border-radius: 20px; }
  body section div div .img-thumbnail {
    border-color: #121FCF;
    border-width: 1px;
    border-radius: 10px; }
  body section div div p {
    border: 1.5px solid black;
    background-color: whitesmoke;
    border-color: #121FCF;
    margin: 10px 0;
    color: black; }
  body article .queTeLoCuenten {
    text-align: center;
    color: white;
    padding: 5%;
    font-size: 26px;
    background: #3666a3;
    background: linear-gradient(351deg, #3666a3 49%, #35488a 64%); }
  body footer {
    background: #3666a3;
    background: linear-gradient(351deg, #3666a3 49%, #35488a 64%); }
    body footer div .textoFooter li a {
      font-size: 22px;
      padding: 5px;
      color: #f4e5e5;
      text-decoration: none;
      list-style-type: disc; }
    body footer div .enlace li {
      color: #fa4949;
      margin-top: 1rem; }
    body footer div .links li {
      list-style-type: none;
      padding: 3px; }
    body footer .parrafoFooter {
      margin: 0; }

@media screen and (max-width: 768px) {
  body article .queTeLoCuenten h2 {
    font-size: 24px; }
  body article .queTeLoCuenten h3 {
    font-size: 20px; }
  body footer div .textoFooter li a {
    font-size: 15px; }
  body footer div h3 {
    font-size: 18px; }
  body footer div ul li a {
    font-size: 15px; } }

body header .backgroundSeries {
  background-image: url("../assets/images/Logos/fondoSeries.jpg");
  background-repeat: repeat; }

body header div .tituloSerie {
  font-family: "BioRhyme", serif;
  font-size: 40px; }

body header .container-fluid div div div div .img-fluid {
  width: 300px;
  height: 300px; }

body header div .textoSeries {
  font-size: 30px;
  color: black; }

@media screen and (max-width: 768px) {
  .container-fluid div div div div .img-fluid {
    object-fit: fill; }
  .container-fluid div div div div p {
    font-size: 12px; } }

body header section .contenedor {
  display: grid;
  gap: 20px; }
  body header section .contenedor .grid1 {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    text-align: center; }
    body header section .contenedor .grid1 .imgNoticia {
      width: 100%;
      max-width: 300px;
      height: auto;
      padding-left: 10px;
      border-radius: 15px; }
    body header section .contenedor .grid1 .flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 20px; }
      body header section .contenedor .grid1 .flex .tituloFlex {
        margin: 10px 0;
        color: black; }
      body header section .contenedor .grid1 .flex .parrafoFlex {
        border: 1.5px solid black;
        background-color: #89a7b1;
        margin: 10px 0;
        color: black; }

@media screen and (max-width: 768px) {
  body header section .contenedor .grid1 {
    padding: 2%;
    grid-template-columns: 1fr; }
    body header section .contenedor .grid1 .imgNoticia {
      grid-column: 1;
      margin-left: auto;
      margin-right: auto;
      padding: 0; } }

@media screen and (max-width: 480px) {
  body header section .contenedor .grid1 {
    grid-template-columns: 1fr;
    padding: 1%; }
    body header section .contenedor .grid1 .imgNoticia {
      grid-column: 1;
      margin-left: auto;
      margin-right: auto; }
    body header section .contenedor .grid1 .flex {
      margin: 0px; }
      body header section .contenedor .grid1 .flex .tituloFlex {
        font-size: 18px;
        margin: 0px; }
      body header section .contenedor .grid1 .flex .parrafoFlex {
        font-size: 12px; } }
