//INDEX
body{
    background-image: url('#{$fondoPagina}');
    header{
        nav{
            background: $fondoNav1;
            background: $fondoNav2;
            .navbar-collapse{
                align-content: flex-end;
                flex-direction:column-reverse;
                flex-wrap:wrap;
            }
            .logoMenu1{
                max-width: 8%;
            }
            div{
                .navbar-nav{
                    .nav-item{
                        .nav-link{
                            font-size: 20px;
                        }
                    }
                }
                ul{
                    .dropdown-menu{
                        background: $fondoNav1;
                        background: $fondoNav2;
                        a{
                            color:white;
                        }
                    }
                }
            }
            .breadcrumb{
                background-image: url('#{$fondoPagina}');
                font-size: 18px;
                padding-left: 1%;
            }
        }
    }
        //FIN MENU DE NAVEGACION 

        //INICIO DE INDEX
        div{
            .titulosIndex{
                font-family: $tipografiaTitulo;
                background: #121FCF;
                background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                padding-left: 10px;
                font-size: 39px;
                padding: 2%;
                
            }
        }
    //INICIO DE CAROUSEL
    div{
        .carousel-inner{
            text-align: center; 
            .carousel-item{
                img{
                    max-width: 60%;
                    margin: auto; 
                    object-fit: contain;
                }
            }
        }
    }

    div{
        .carousel-control-prev{
            width: 44%;
        }
        .carousel-control-next{
            width: 44%;
        }
    }
    div{
        div{
            a{
                .btn-primary{
                    font-size: 18px;
                    border: 2px solid rgb(20, 232, 113);
                    border-radius: 20px;
                }
            }
        }
    }
    section{
        div{
            div{
                .img-thumbnail{
                    border-color: #121FCF;
                    border-width: 1px;
                    border-radius: 10px;
                }
                p{
                    border:map-get($parrafoFlex,borde);
                    //background-color: map-get($parrafoFlex,color-fondo);
                    background-color: whitesmoke;
                    border-color: #121FCF;
                    margin: map-get($parrafoFlex,margen);
                    color: map-get($parrafoFlex,color-parrafo);
                }
            }
        }
    }

    article{
        .queTeLoCuenten{
            text-align: center;
            padding: 5%;
            font-size: 26px;
            background: $fondoNav1;
            background: $fondoNav2;
        }
    }
    footer{
        background: $fondoNav1;
        background: $fondoNav2;
        div{
            .textoFooter li a{
                font-size: 22px;
                padding:5px;
                color:#f4efef;
                text-decoration: none; 
                list-style-type: disc;
            }
            .enlace li{
                color: rgb(250, 73, 73);
                margin-top: 1rem;
            }
            .links li{
                list-style-type: none;
                padding: 3px;
            }
        }
    }
}