//PAGINA SERIES
body{
    header{
        .backgroundSeries{
            background-image: url("../assets/images/Logos/fondoSeries.jpg");
            background-repeat: repeat;
        }
        div{
            .tituloSerie{
                font-family: $tipografiaTitulo;
                font-size: 40px;

            }
        }
        .container-fluid{
            div{
                div{
                    div{
                        div{
                            .img-fluid{
                                width:300px;
                                height: 300px;
                            }
                        }
                    }
                }
            }
        }
        div{
            .textoSeries{
                font-size: 30px;
                color: $colorTexto;
            }
        }
    }
}

//MEDIA QUERIE
@media screen and (max-width: 768px){
    .container-fluid{
        div{
            div{
                div{
                    div{
                        .img-fluid{
                            object-fit:fill;
                        }
                    }
                    div{
                        p{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}