//PAGINA SERIES
body {
    .backgroundSeries {
        background-image: url("../assets/images/Logos/fondoSeries.jpg");
        background-repeat: repeat;

        div {
            .tituloSerie {
                font-family: $tipografiaTitulo;
                font-size: 40px;

            }
        }

        .container-fluid {
            div {
                div {
                    div {
                        div {
                            .img-fluid {
                                width: 300px;
                                height: 300px;
                            }
                        }
                    }
                }
            }
        }

        div {
            .textoSeries {
                font-size: 30px;
                color: $colorTexto;
            }
        }
    }
}

//MEDIA QUERIE
@media screen and (max-width: 768px) {
    body{
        .backgroundSeries{
            .container-fluid {
                div {
                    div {
                        div {
                            div {
                                .img-fluid {
                                    object-fit: fill;
                                }
                            }

                            div {
                                p {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    body {
        .backgroundSeries {
            .container-fluid {
                div {
                    .card {
                        div {
                            .col-md-4 {
                                max-width: 100%;
                                max-height: 400px;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            div {
                                p {
                                    font-size: 15px;
                                }
                                .btn {
                                    margin-left: 40%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}